@page "{id:int?}"
@model Proiect_Cluburi_Sportive.Pages.Competitii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competitie[0].NumeCompetitie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompetitieData.Competitii) {
            string selectedRow = "";
            if (item.ID == Model.CompetitieID)
            {
             selectedRow = "table-success";
            }
            <tr class="@selectedRow"> 
            <td>
                @Html.DisplayFor(modelItem => item.NumeCompetitie)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.CompetitieData.Club != null)
{
    <h3>Cluburi participante la Competitii</h3>
    <table class="table">

        @foreach (var item in Model.CompetitieData.Competitii)
        {
            string selectedRow = "";
            if (item.ID == Model.CompetitieID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Cluburi)
                        {

                            @b.Nume @: @b.Competitie.NumeCompetitie

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
