@page "{id:int?}"
@model Proiect_Cluburi_Sportive.Pages.Sectii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sectie[0].NumeSectie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>       
        @foreach (var item in Model.SectieData.Sectii)
        {
            string selectedRow = "";
            if (item.ID == Model.SectieID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">                
                <td>
                    @Html.DisplayFor(modelItem => item.NumeSectie)
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.SectieData.SectiiClub != null)
{
    <h3>Secții cluburi</h3>
    <table class="table">

        @foreach (var item in Model.SectieData.Sectii)
        {
            string selectedRow = "";
            if (item.ID == Model.SectieID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.SectiiClub)
                        {

                            @b.Club.Nume @: @b.Sectie.NumeSectie

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}